extends layout

block content
	div.container
		h1 Update Profile
		form(action='/profile', method='post')
			if profile
				p #{profile}
			div.row
				div.col-md-12.form-group
					label(for='username') Name
					input.form-control(type='text', placeholder='Name', id='username', name='username', value='#{user.username}')
				div.col-md-12.form-group
					label(for='city') City
					input.form-control(type='text', placeholder='City', id='city', name='city', value='#{user.city}')
				div.col-md-12.form-group
					label(for='state') State
					input.form-control(type='text', placeholder='State', id='state', name='state', value='#{user.state}')
				div.col-md-12.form-group
					input.btn.btn-primary.btn-lg.col-md-2(type='submit', value='Save Changes')

		h1 Change Password
		form(action='/settings', method='post')
			if password
				p #{password}
			div.row
				div.col-md-12.form-group
					label(for='current') Current Password
					input.form-control(type='password', placeholder='Current Password', id='current', name='current')
				div.col-md-12.form-group
					label(for='password') New Password
					input.form-control(type='password', placeholder='New Password', id='password', name='password')
				div.col-md-12.form-group
					input.btn.btn-primary.btn-lg.col-md-2(type='submit', value='Save Changes')